POSTGRES_DB=erp_system
POSTGRES_USER=erp_user
POSTGRES_PASSWORD=erp_password

DB_URL=jdbc:postgresql://db:5432/erp_system
DB_USER=erp_user
DB_PASS=erp_password

JWT_SECRET=Q2hhbmdlVGhpc1RvQVNlY3VyZTMyaHl0ZUJhc2U2NFBsYWNlaG9sZGVyS2V5ISE=
JWT_EXPIRATION_MS=86400000

REDIS_HOST=redis
REDIS_PORT=6379

VITE_API_BASE_URL=http://localhost:8080
